<div class="welcome-section">
    <h2>Добро пожаловать в Автосалон!</h2>
    <p>Мы предлагаем лучший выбор автомобилей от ведущих мировых производителей.</p>
    
    <h3>Наши услуги:</h3>
    <ul>
        <li>Продажа новых автомобилей</li>
        <li>Трейд-ин программа</li>
        <li>Автомобили в кредит</li>
        <li>Сервисное обслуживание</li>
    </ul>
    
    <h3>Почему выбирают нас:</h3>
    <ul>
        <li>Широкий выбор автомобилей в наличии</li>
        <li>Профессиональные консультации</li>
        <li>Выгодные условия покупки</li>
        <li>Гарантия на все автомобили</li>
    </ul>
    
    <div class="mt-2">
        <a href="/cars" class="btn">Посмотреть каталог</a>
        <a href="/about" class="btn">Узнать больше</a>
    </div>
</div>